@use 'base/variables' as v;
@use 'base/mixins' as m;

.alerta_contenedor {
  position: absolute;
  top: 1rem;
  right: 0rem;
  z-index: 100;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.alerta {

  &.mostrar {
    animation: show_slide 4s ease forwards;
  }

  font-weight: v.$black;
  padding: 1.5rem 2rem;
  border-left: 1rem solid;

  &.error {
    border-left-color: v.$red;
    color: v.$red;
    background-color: v.$alert_error;
  }

  &.exito {
    border-left-color: v.$principal;
    color: v.$principal;
    background-color: v.$azul_200;
  }
}