@use 'base/variables' as v;
@use 'base/mixins' as m;

.boton {
  @include m.boton(v.$principal, v.$azul-100);

  &.pad1-4 {
    @include m.boton(v.$principal, v.$azul-100, 1rem, 4rem);
  }

  &.pad1-2 {
    @include m.boton(v.$principal, v.$azul-100, 1rem, 2rem);
  }

  &.pad2-2 {
    @include m.boton(v.$principal, v.$azul-100, 2rem, 2rem);
  }

  &.width-70 {
    @include m.boton(v.$principal, v.$azul-100, 1rem, 1rem, 10%);
  }

  &.delete {
    background-color: v.$red
  }

  &.success {
    background-color: darken($color: v.$verde, $amount: 10%)
  }

  &.mt {
    margin-top: 1rem;
  }
}

.contenedor_boton {
  a {
    width: 100%;
  }
}