@use 'base/variables' as v;
@use 'base/mixins' as m;

.dark-mode {
  .form {
    background-color: v.$azul-100;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 1rem 2rem;
  padding: 4rem;
  border-radius: 2rem;
  border: 1px solid v.$principal;

  .button_close_form {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 2.5rem;
    color: v.$principal;
    cursor: pointer;
  }

  .campo_doble {
    display: flex;
    gap: 2rem;
  }

  .campo_label {
    color: v.$principal;
    font-weight: v.$bold;
    font-size: 2.4rem;
    text-transform: capitalize;
  }

  .campo_desc {
    color: v.$principal;
    font-weight: v.$delgada;
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
  }

  .campo_simple {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;

    input,
    select {
      font-size: 2rem;
      width: 100%;
      padding: 1rem 2rem;
      background-color: v.$azul-100;
      border: none;
      box-shadow: 1px 4px 20px rgba(52, 63, 116, 0.3);
      color: v.$principal;
      border-radius: 1.5rem;
    }
  }

  .boton {
    padding: 1rem 2rem;
  }
}

.formulario_login {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.campo {
  width: 100%;
  display: flex;
  margin-bottom: 3rem;
  box-shadow: 1px 4px 20px rgba(52, 63, 116, 0.4);
  border-radius: 1.5rem;
  padding: 1.5rem 2rem;
  background: v.$azul_100;

  i {
    color: v.$principal;
  }

  input {
    border: none;
    background-color: v.$azul-100;

    &:focus {
      outline: none;
    }
  }
}

.form_contenedor {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  align-items: center;
  height: 100%;

  @include m.tablet {
    position: inherit;
  }
}

.campo_search {
  justify-content: space-between;
  align-items: center;
}