@use 'variables' as v;
@use 'mixins' as m;

html {
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
}



::placeholder {
    color: v.$opacity
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    font-family: v.$fuente_principal;
    font-size: 1.6rem;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}


td {
    vertical-align: middle;
}

input {
    width: 100%;
}

input:focus,
select:focus {
    outline: .1rem solid v.$principal;
}

::-webkit-scrollbar {
    width: 1.5rem;
}

::-webkit-scrollbar-track {
    background-color: v.$azul-400;
    border-radius: 10rem;
}

::-webkit-scrollbar-thumb {
    background-color: v.$principal;
    border-radius: 10rem;
}



@keyframes show_slide {
    0% {
        transform: translateX(100%);
    }

    20%,
    30%,
    40%,
    50%,
    60%,
    70%,
    80%,
    90% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(100%);
        display: none;
    }
}

.transition {
    transition: opacity 0.5 ease-in-out
}

.icon {
    width: 100%;
    max-width: 2.5rem;

    &.rotate {
        transform: rotate(180deg);
    }

    &.sm {
        max-width: 2rem;
    }
}

.hover {
    @include m.hover;

    &.x2 {
        transition: transform .1s;
    }

    &.x2:hover {
        transform: scale(1.05);
    }
}

.red {
    filter: invert(51%) sepia(18%) saturate(6615%) hue-rotate(329deg) brightness(96%) contrast(106%);
}

.blue {
    filter: invert(39%) sepia(10%) saturate(6109%) hue-rotate(202deg) brightness(90%) contrast(80%);
}

.green {
    filter: invert(53%) sepia(89%) saturate(2373%) hue-rotate(69deg) brightness(102%) contrast(101%);
}

.white {
    filter: invert(86%) sepia(25%) saturate(44%) hue-rotate(179deg) brightness(101%) contrast(108%);
}

.capitalize {
    text-transform: capitalize;
}

.unset {
    all: unset;
}

.send {
    position: absolute;
    top: 25%;
    right: 2rem;
    cursor: pointer;

    &.fact {
        top: calc(50%);
    }
}

.prod_buttons {
    display: flex;
    gap: 1rem;
}

ul {
    list-style: none;
}

.izq-der {
    flex-direction: row;
}