@use 'variables' as v;

html {
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
}

::placeholder {
    color: v.$placeholder;
    font-size: 2rem;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: v.$fuente_principal;
    font-size: 1.6rem;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

i {
    color: v.$azul_700
}