@use 'variables' as v;

/** Media Queries **/
@mixin telefono {
    @media (min-width: v.$telefono) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: v.$tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: v.$desktop) {
        @content;
    }
}


@mixin boton($bgColor, $colorTexto, $padx: 0rem, $pady: 0rem, $width: 100%) {

    &.dark-mode {
        background-color: v.$azul_800;
        border: .25rem solid v.$azul_700;

        &:hover {
            background-color: inherit;
            background-color: darken($bgColor, 30%);
        }
    }

    background-color: $bgColor;
    padding: $padx $pady;
    color: $colorTexto;
    font-size: 2rem;
    display: inline-block;
    font-weight: v.$bold;
    border: none;
    transition-property: background-color;
    transition-duration: .3s;
    text-align: center;
    display: block;
    width: $width;
    border-radius: 1.5rem;

    @include tablet {
        width: auto;
    }

    &:hover {
        background-color: darken($bgColor, 10%);
        cursor: pointer;
    }

    a {
        display: block;
        width: $width;
        height: 100%;
        padding: 1rem 4rem;
        color: v.$azul-100;
    }
}

@mixin hover() {
    transition: transform .3s;

    &:hover {
        transform: scale(1.03);
    }
}

@mixin grid($columnas, $espaciado ) {
    display: grid;
    gap: $espaciado;
    grid-template-columns: repeat($columnas, 1fr);
}