@use 'base/variables' as v;
@use 'base/mixins' as m;


.table {
  width: 100rem;
  table-layout: fixed;

  @include m.tablet {
    width: 100%;
  }
}

.table_head {
  position: sticky;
  top: 0;
  background-color: v.$principal;
  color: v.$azul-100;
  z-index: 10;
  box-shadow: rgb(78, 102, 194) 0px 8px 29px;
}

.table_head_item th {
  padding: 2rem;
}


.table_head_item,
.table_row td {
  padding: 1.5rem;
  overflow: hidden;
  white-space: nowrap;
  font-weight: v.$regular;
  text-overflow: ellipsis;
  text-align: center;
  border: 1px solid v.$azul-500;

  &.nell {
    text-overflow: clip;
  }
}


.table_row {
  background-color: v.$azul-100;
}

.table_actions {
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 2rem;
  background: none;

  &.edit {
    color: v.$principal;
  }

  &.delete {
    color: v.$red;
  }
}



/* ------------------------------------------- */

.Table {
  width: 100%;
  border-collapse: separate;

  .Table_head {
    position: sticky;
    z-index: 10;
    top: 0;
    background-color: v.$principal;
    color: v.$azul-100;
    box-shadow: rgb(78, 102, 194) 0px 8px 29px;

    .Table_head_item {
      padding: 1.5rem;
      text-align: center;
      border: 1px solid v.$azul-500;
    }
  }

  .Table_body {
    .Table_row td {
      text-align: center;
      padding: 1rem;
      font-weight: v.$regular;
      border: 1px solid v.$azul-500;

      &.no_center {
        text-align: left;
      }

      &.txtnw {
        white-space: nowrap;
      }

      &.no_border {
        border: none;
      }
    }
  }


}