@use 'variables' as v;
@use 'mixins' as m;

h1,
h2,
h3 {
    font-family: v.$fuente_principal;
    margin: 0 0 calc(v.$separacion / 2) 0;
    font-weight: 900;
    text-align: center;
}

h1 {
    font-size: 8rem;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 3rem;
    text-align: center;
}

p {
    font-size: 2rem;
    margin: 0;
}

.title_page {
    text-align: center;
    margin: 5rem 0;
    font-weight: v.$black;
    color: v.$azul_600;

    span {
        display: block;
    }
}

.description_page {
    text-align: center;
}