@use 'variables' as v;
@use 'mixins' as m;

.dark-mode {
    .title_page {
        color: v.$azul_100;
    }

    .description_page {
        color: v.$azul_100;
        font-weight: v.$bold;
    }
}

h1,
h2,
h3 {
    font-family: v.$fuente_principal;
    margin: 0 0 calc(v.$separacion / 2) 0;
    font-weight: 900;
    text-align: center;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 3rem;
    text-align: center;
}

p {
    font-size: 2rem;
    margin: 0;
}

.title_page {
    margin: 2rem;
    text-align: center;
    font-weight: v.$black;
    color: v.$azul_600;

    span {
        display: block;
        font-size: 6rem;
    }
}

.description_page {
    margin: 2rem;
    text-align: center;
    font-size: 2.5rem;
}